body{
    font-family:'Franklin Gothic Medium';
    /*background-color:gray;*/
}


ul{
    list-style: none;
}

li{
    background-color:lightgray;
    border:2px solid darkgray;
}


ul.h1{
    display:inline-block;
}