body{
    font-family:'Franklin Gothic Medium';

}


ul{
    list-style: none;
}

.fleet li{
    background-color:lightgray;
    border:2px solid darkgray;
}


.fleet h2{
    display: inline;
    margin: 5px;
    font-size: 1em;
}

.fleet p{
    font-size: .5em;
    margin-left:10px;
}

.fleet button{
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    background-color:white;
}