body{
    font-family:'Franklin Gothic Medium';
}

#title{
    background-color:teal;
    padding:15px 10px;
    font-size: 3em;
    text-align: center;
}

section h1{
    font-size: 2em;
    text-align: center;
    padding:10px;
}


ul{
    list-style: none;
   
}

.fleet{
    background-color:lightgray;
}

.fleet li{
    background-color:darkgray;
    border:2px solid black;
    width: 80%;
    margin: 0 auto;

}


.fleet h2{
    display: inline;
    margin: 5px;
    font-size: 1.25em;
}

.fleet p{
    font-size: .75em;
    margin-left:10px;
}

.fleet button{
    padding: 15px 30px;
    margin: 10px;
    border-radius: 10px;
    background-color:white;
    font-size: .75em;
    
}

.fleet button:hover{
    background-color:teal;
}